@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;600&display=swap");

:root{
    --clr-darkCyan: hsl(158, 36%, 37%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-darkBlue: hsl(212, 21%, 14%);
    --clr-grayishBlue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);

    --ff-Monsterrat: "Monsterrat", sans-serif;
    --ff-Fraunces: "Fraunces", sans-serif;

    --fs: 14px;
}

body{
    background-color: var(--clr-cream);
}

.card{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: var(--clr-white);
    width: 480px;
    height: 360px;
    border-radius: 7px;
}


.right{
    float: right;
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

img{
    height: 360px;
    border-radius: 7px 0px 0px 7px;
    width: 240px;
    float: left;
    width: 50%;
}

p#topPara{
    font-family: var(--ff-Monsterrat);
    letter-spacing: 5px;
    font-size: 10px;
    padding-top: 15px;
}

h1{
    font-size: 28px;
    font-family: var(--ff-Fraunces);
    line-height: 28px;
    color: var(--clr-darkBlue);
}

p#btmPara{
    font-family: var(--ff-Monsterrat);
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.price{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

.discPrice{
    color: var(--clr-darkCyan);
    font-family: var(--ff-Fraunces);
    font-size: 26px;
}

.oriPrice{
    padding-left: 20px;
    font-family: var(--ff-Monsterrat);
    font-size: 10px;
}

.btn{
    background-color: var(--clr-darkCyan);
    color: var(--clr-white);
    width: 100%;
    border-radius: 7px;
    border: none;
    font-family: var(--ff-Monsterrat);
    letter-spacing: 0.5px;
    font-size: 12px;
    padding: 12px;
}
